<footer>
  <div class="row expanded">

    <div class="medium-6 small-12 columns">
      <ul class="menu">
        <li><a href=<%=legals_mentions_path%>>Mentions Legales</a></li>
        <li><a href=<%=pro_service_provider_new_path %>>Nous rejoindre</a></li>
        <!-- <li><a href="#">Depannoblog</a></li> -->
      </ul>
    </div>
    <div class="medium-6 small-12 columns">
      <ul class="menu align-right">
        <li><a href="/">Depannologue</a></li>
      </ul>
    </div>
  </div>
</footer>
