<footer>
  <div class="row expanded">

    <div class="medium-6 small-12 columns">
      <ul class="menu">
        <li><a href="#">Mentions Legales</a></li>
        <li><a href="#">Nous rejoindre</a></li>
        <li><a href="#">Depannoblog</a></li>
      </ul>
    </div>
    <div class="medium-6 small-12 columns">
      <ul class="menu align-right">
        <li class="menu-text style3">Depannologue</li>
      </ul>
    </div>
  </div>
</footer>
