<footer>
  <div class="row expanded">

    <div class="medium-8 small-12 columns">
      <ul class="menu">
        <li><a href=<%=legals_mentions_path%>>Mentions Legales</a></li>
        <li><a href=<%=pro_service_provider_new_path %>>Nous rejoindre</a></li>
      </ul>
    </div>

  </div>
  <div class="row expanded">
    <div class="medium-8 small-12 columns">
      <ul class="menu">
        <li class="menu-text footer-menu-text">Contactez nous :</li>
        <li><a href="mailto:partenaire@depannologue.fr">Email</a> </li>
        <li><a href="tel:+33366726167"> 03 66 72 61 67 </a></li>
      </ul>
    </div>
    <div class="medium-4 small-12 columns">
      <ul class="menu align-right">
        <li class="menu-text footer-menu-text">Depannologue</li>
      </ul>
    </div>
  </div>
</footer>
