<section id="notice">
  <div class="row">
    <div class="top-notice">
      <div class="small-7 centered columns">Une urgence en Serrurerie, Plomberie ou Vitrerie? : <a>Appelez nous maintenant au 03.66.72.61.67</a></div>
      <div class="small-5 centered columns">Définissez votre panne et reservez en ligne <a class="button">Me connecter</a></div>
    </div>
  </div>
</section>
