<section id="notice">
  <div class="row">
    <div class="top-notice">
      <div class="large-12 centered columns">Une urgence en Serrurerie, Plomberie ou Vitrerie? : <a>Appelez nous maintenant au 03.66.72.61.67</a></div>      
    </div>
  </div>
</section>
