#cgu.container
	%h1 Conditions Générales d'Utilisation

	.article
		%p
			Les Utilisateurs du site www.depannologue.fr (ci-après désigné le « Site ») sont invités à lire avec attention les présentes conditions générales d’utilisation (ci-après désignées « CGU ») et ce, préalablement à toute utilisation du Site. Cette utilisation suppose l'acceptation préalable des CGU dans leur version en vigueur, par les Utilisateurs. Le Site est la propriété exclusive de la société DEPANNOLOGUE.FR (ci-après désignée « DEPANNOLOGUE.FR »), société par actions simplifiée immatriculée au RCS de LILLE METROPOLE sous le n° 815.340.815, ayant son siège 118 rue de Burgault 59113 SECLIN. DEPANNOLOGUE.FR propose sur son Site un service (ci-après désigné le « Service ») permettant à ses Utilisateurs de commander rapidement et en toute sécurité l'intervention en urgence d'un serrurier, en mettant en relation les Utilisateurs avec un professionnel préalablement sélectionné par DEPANNOLOGUE.FR. Les CGU régissent tout accès et utilisation du Service par les Utilisateurs en prévoyant les conditions de cette utilisation. En accédant et en utilisant le Service, les Utilisateurs reconnaissent avoir pris connaissance et accepté sans réserve les CGU, en cochant la case prévue à cet effet.

	.article
		%h2 1. LEXIQUE

		%p 
			Dans le cadre des CGUS, les termes utilisés ci-après ont les significations suivantes, qu’ils soient utilisés au singulier ou au pluriel :

		%ul
			%li « Charte de Qualité » désigne le document rédigé par DEPANNOLOGUE.FR, listant les engagements des Serruriers Prestataires en termes de qualité, disponible sur le Site.

			%li « Commande » désigne toute demande de Prestation(s) formulée par l’Utilisateur du Site.

			%li « Coordonnées » désigne les informations renseignées par tout Utilisateur et collectées par DEPANNOLOGUE.FR lors de l’utilisation du Site.

			%li « Parties » désigne collectivement DEPANNOLOGUE.FR, le Prestataire Serrurier et l'Utilisateur.

			%li « Prestataire » désigne tout serrurier sélectionné par DEPANNOLOGUE.FR pouvant répondre à une Commande émise par l’Utilisateur.

			%li « Interventions » désigne les services de dépannage proposés par le Prestataire dans le cadre du Site.

			%li « Référence » désigne le numéro de commande communiqué par DEPANNOLOGUE.FR sur le Site lors de la passation de toute Commande.

			%li « Territoire » désigne la France métropolitaine.

			%li « Utilisateur » désigne toute personne qui recherche un serrurier pour faire réaliser une Prestation de dépannage, et passe Commande sur le Site.

			%li « Visiteur » désigne toute personne naviguant sur le Site ; un Utilisateur étant un Visiteur au sens des CGU.

	.article
		%h2 2. EXIGENCES ET CONDITIONS D’ELIGIBILITE

		%p 
			2.1 L'utilisation du Site et du Service suppose que les Visiteurs se conforment aux exigences suivantes : 
		%p.collapse - disposer d'une connexion Internet ; 
		%p.collapse et/ou
		%p.collapse - être titulaire d'un abonnement internet permettant l’accès au Site ;
		%p.collapse - disposer d'un modèle de Téléphone Mobile compatible avec le Site et équipé d'une connexion wap, wi-fi ou de la 3G/4G fonctionnant sous iOS ou Androïd, et toute version ultérieure compatible avec le Service.

		%p 2.2 Le Visiteur garantit avoir la pleine capacité juridique pour utiliser le Service.

		%p
			2.3 L’Utilisateur ne doit pas être un concurrent de DEPANNOLOGUE.FR et n’utilisera pas le Service pour concurrencer DEPANNOLOGUE.FR, de manière frauduleuse et/ou de manière à nuire aux intérêts de DEPANNOLOGUE.FR.

		%p
			2.4 DEPANNOLOGUE.FR ne saurait être tenu responsable en cas d’utilisation du Service par des personnes ne répondant pas aux exigences précitées.

	.article
		%h2 3. OPPOSABILITÉ DES CGU
		
		%p 
			Les présentes CGU sont opposables à l’Utilisateur dès leur acceptation par ce dernier. De manière générale, les CGU s’appliquent à tout Visiteur. DEPANNOLOGUE.FR se réserve le droit d'apporter aux présentes CGU toutes modifications utiles, conformément aux stipulations de l’article 16.3. DEPANNOLOGUE.FR mettra alors à disposition des Visiteurs les nouvelles CGU et ce par tout moyen au choix de DEPANNOLOGUE.FR ; toute utilisation du Service par l’Utilisateur et/ou toute navigation sur le Site par le Visiteur, après publication des CGU modifiées valant acceptation par ces derniers des nouvelles CGU.

	.article
		%h2 4. DESCRIPTION DU SERVICE

		%p
			Le Site a pour but de mettre en relation au sein du Territoire toutes personnes ayant besoin de l'intervention d’urgence d'un serrurier avec un Prestataire préalablement sélectionné par DEPANNOLOGUE.FR. Le Site propose quatre types d'intervention :
		%p.collapse - ouverture de porte claquée ;
		%p.collapse - ouverture de porte verrouillée ;
		%p.collapse - changement de cylindre ;
		%p.collapse - changement de serrure.

		%p
			Les Prestataires sont référencés et sélectionnés par DEPANNOLOGUE.FR après avoir souscrit à la Charte de Qualité et aux conditions d’éligibilité. Lesdits Prestataires se tiennent prêts à répondre, au nom et pour le compte de DEPANNOLOGUE.FR, aux demandes d'intervention émises par le Site, chaque fois qu'ils se déclarent disponibles sur le Site. DEPANNOLOGUE.FR facture les interventions aux Utilisateurs du Site, encaisse le prix correspondant puis se charge de rémunérer le Prestataire intervenu.

	.article
		%h2 5. MODALITES DE PASSATION DE COMMANDE
		%p
			Chaque Utilisateur peut passer Commande depuis le Site, en suivant les étapes suivantes :
		%p 
			Etape 1 : Sur la page d'accueil du Site, l'Utilisateur clique sur l'onglet « Réservez en ligne ».
		%p 
			Etape 2 : L'Utilisateur choisit le type d'intervention parmi les options suivantes :
		%p
			Etape 3 : L'Utilisateur complète un formulaire relatif à ses Coordonnées : Numéro de téléphone et l'adresse d'intervention. Ces données revêtent un caractère impératif aux fins de réalisation de la Prestation. L’Utilisateur garantit la véracité, l’exactitude et la complétude des informations requises dans les champs appropriés.
		%p
			Etape 4 : DEPANNOLOGUE.FR communique à l'Utilisateur le tarif TTC de l’intervention choisie, les Prestataires qui sont disponibles à proximité du lieu d'intervention et le temps approximatif qu’ils mettront pour venir jusqu'à ce lieu.
		%p
			Etape 5 : Après avoir coché la case : « je certifie avoir lu accepté les Conditions Générales d'Utilisation » et renseigné son nom, prénom et adresse électronique, La Commande est ensuite prise en compte et une Référence de commande est transmise à l'Utilisateur.
		%p
			Etape 6 : Un Prestataire accepte l’intervention commandée, ce qui génère l'édition d'une fiche d’intervention à l'attention de l'Utilisateur, contenant : le prénom, une photo et le véhicule du Prestataire, un rappel de l’intervention commandée, les notes et avis des précédents Utilisateurs du Prestataire, le temps que celui-ci va mettre pour se rendre sur le lieu d'intervention.
		%p
			Etape 7 : Une fois l’intervention terminée, le Prestataire confirme le bon déroulé de l'intervention ; l'Utilisateur reçoit ensuite un SMS demandant de noter et donner un avis sur la prestation du Prestataire. Dans le cas où l'Utilisateur ne donne pas cet avis, un SMS/Mail est envoyé chaque jour. Au bout de 7 jours, si aucune réclamation est en cours, l’intervention est considérée comme terminée et donnant pleine satisfaction. La note maximum est alors donnée au Prestataire qui en sera crédité sur le Site.

		%p
			Etape 7bis : Si lors de l'intervention apparaissent des besoins complémentaires et/ou nouveaux de l'Utilisateur, le Prestataire peut via le site lui proposer ou une nouvelle intervention ou l’Utilisateur commande une nouvelle intervention via la Site en suivant les étapes de commande précitées.

	.article
		%h2 6. MODALITÉ DE PAIEMENT

		%p 
			6.1 L’Utilisateur choisi son mode de paiement lors de la reservation de l’intervention. Après l’intervention,le Prestataire réglera la somme communiqué lors de la reservation. 

		%p
			6.2  En cas d’annulation par l’Utilisateur de son intervention et dans l’hypothèse où un Prestataire s’est déplacé en vue de réaliser l’intervention, l’Utilisateur est tenu de verser une somme de cinquante (50) euros afin d’indemniser le Prestataire.

	.article
		%h2 7. ENGAGEMENTS DES PARTIES

		%p
			%span.strong 7.1 Engagements de DEPANNOLOGUE.FR 
			DEPANNOLOGUE.FR s’engage à référencer des Prestataires de qualité équipés pour les interventions proposées sur le Site, disponibles dans les meilleurs délais et capable d'intervenir sans autre coût supplémentaire que celui déjà payé par l'Utilisateur sur le Site. DEPANNOLOGUE.FR s'engage, sous sa responsabilité, pour son compte et en son nom propre, à mettre en relation l'Utilisateur avec un Prestataire afin que ce dernier réalise l'intervention objet de la Commande.

		%p
			%span.strong 7.2 Engagements de l’Utilisateur
			L’Utilisateur s’engage à :
		%p.collapse - respecter les exigences visées à l'article 2 et à communiquer à DEPANNOLOGUE.FR ses coordonnées exactes dont il garantit la véracité.

		%p.collapse - informer DEPANNOLOGUE.FR de toute modification portant sur le contenu de sa Commande et/ou de ses Coordonnées le cas échéant.

		%p.collapse - n'utiliser qu'un moyen de paiement lui appartenant, sans qu'aucun tiers ne puisse ensuite contester le paiement effectué par ce biais.

		%p.collapse - commander sur le Site toute intervention complémentaire qui apparaîtrait nécessaire, sans pouvoir la commander directement au Prestataire intervenu par le biais de DEPANNOLOGUE.FR.

		%p.collapse - Verser la somme de cinquante (50) euros à DEPANNOLOGUE.FR dans le cas où suite à la réservation d’une Prestation en suivant les étapes de l’article 5 et le déplacement du Prestataire en vue de réaliser la Prestation, l’Utilisateur souhaite annuler.

		%p
			L’Utilisateur est seul responsable du choix de l’intervention commandée sur le Site. Toute utilisation abusive du Site et/ou demande fantaisiste, non appropriée au regard du Site et/ou toute usurpation d’identité, attitude contraire aux bonnes mœurs ou à l’ordre public de la part de l’Utilisateur autorisera DEPANNOLOGUE.FR à le désigner comme indésirable à l’utilisation du Site.

	.article
		%h2 8. RESPONSABILITES

		%p
			%span.strong 8.1 Responsabilité de DEPANNOLOGUE.FR
			Les interventions commandées sur le Site étant effectuées par les Prestataires en son nom et pour son compte, DEPANNOLOGUE.FR est responsable de la qualité et de la conformité des interventions prestées, à l'égard de l'Utilisateur. En cas de litige, DEPANNOLOGUE.FR pourra demander au Prestataire ayant effectué l'intervention litigieuse, de le garantir des conséquences dommageables de toute nature, tant matériels qu'immatériels, directes ou indirectes pouvant résulter dudit litige.

		%p
			%span.strong 8.2 Responsabilité de l'Utilisateur
			L'Utilisateur est seul responsable du choix d’utiliser le Site et d'y naviguer, et de son adéquation à ses besoins, de la sécurisation de son système informatique et de la sauvegarde de ses données. L'Utilisateur s’engage à respecter les stipulations des présentes CGU en agissant de manière compatible avec le Site et les législations et réglementations en vigueur.

		%p
			%span.strong 8.3 Limitation de responsabilité
			Les Utilisateurs et les Prestataires sont seuls responsables de la légalité de leurs actes dans le cadre de l’utilisation du Site. En conséquence, DEPANNOLOGUE.FR décline toute responsabilité quant aux conséquences directes et/ou indirectes de la mise en relation entre les Prestataires et les Utilisateurs. En outre, DEPANNOLOGUE.FR ne peut être tenue pour responsable d’aucune perte ou altération de données et/ou de tout autre dommage indirect, liée à l’utilisation du Site. En tout état de cause, la responsabilité de DEPANNOLOGUE.FR au titre des CGU ne saurait en aucun cas excéder la somme de soixante-quinze (75) euro, tous dommages confondus. Certaines législations n’autorisent pas de limitation ou d’exclusion de responsabilité. Dans ce cas, la présente limitation de responsabilité ne s’appliquera pas et la responsabilité de DEPANNOLOGUE.FR sera alors limitée à la plus faible limitation permise par la législation en cause. La présente limitation de responsabilité s’applique, que l’action en responsabilité soit engagée sur un fondement contractuel ou délictuel. Toute utilisation du Site contraire aux présentes CGU donne droit à DEPANNOLOGUE.FR de suspendre ou refuser l'accès au Site à l’Utilisateur concerné et résilier sa Commande le cas échéant, selon les termes de l’article 14 et ce sans préjudice de tous dommages-intérêts auxquels DEPANNOLOGUE.FR pourrait prétendre.

	.article
		%h2 9. PROPRIETE INTELLECTUELLE

		%p
			Les présentes CGU n'emportent aucune cession d'aucune sorte de droits de propriété intellectuelle sur les éléments appartenant à DEPANNOLOGUE.FR et/ou à ses concédants au bénéfice des Utilisateurs. Les Utilisateurs reconnaissent et acceptent que le contenu du Site et notamment mais non exclusivement les textes, photographies, vidéos, bases de données, logiciels et programmes, sons, musiques, mise en page, charte graphique, logos, design ou toute autre information et/ou support présenté(s) par DEPANNOLOGUE.FR (ci-après désigné les « Contenus »), sont protégés par des droits d'auteur(s), marque(s), brevet(s) et tout autre droit de propriété intellectuelle qui leur sont reconnus selon les lois en vigueur.

		%p
			DEPANNOLOGUE.FR déclare être titulaire des droits de propriété intellectuelle afférents aux Contenus ou être dûment autorisée par ses concédants à utiliser et reproduire les Contenus sur le Site. Les Utilisateurs s’interdisent toute reproduction et/ou représentation, totale ou partielle de tout ou partie des Contenus sans l'autorisation expresse de DEPANNOLOGUE.FR. En cas d’utilisation non-conforme ou abusive des Contenus, DEPANNOLOGUE.FR se réserve toute voie de droit pour faire cesser l’atteinte à ses droits de propriété intellectuelle.

	.article
		%h2 10. DONNEES A CARACTERE PERSONNEL ET COOKIES

		%p 
			DEPANNOLOGUE.FR garantit être en conformité avec les lois et réglementations relatives à la protection des données personnelles. La passation de Commande par un Utilisateur nécessite la communication par l’Utilisateur de données à caractère personnel. L’Utilisateur s'engage à ce titre à ne communiquer que des informations loyales et licites lors de sa Commande et de manière générale dans le cadre du Service. En outre, l’Utilisateur est informé que DEPANNOLOGUE.FR peut recueillir des données à caractère personnel le concernant, à l'occasion de toute utilisation du Site, notamment au moyen des services de géolocalisation proposés par DEPANNOLOGUE.FR. L’Utilisateur peut à sa seule discrétion désactiver les services de géolocalisation mis à disposition DEPANNOLOGUE.FR mais reconnaît à ce titre que le fonctionnement de tout ou partie du Site peut être affecté.

		%p
			Les données à caractère personnel transmises dans le cadre de la passation de Commande, sont traitées par DEPANNOLOGUE.FR, en sa qualité de responsable du traitement, aux fins de permettre à l’Utilisateur de bénéficier d'une intervention et notamment pour faciliter la mise en relation de l’Utilisateur avec un Prestataire. En particulier, DEPANNOLOGUE.FR s’engage à ne pas communiquer les données à caractèrepersonnel des Utilisateurs à des tiers autres que les Prestataires pouvant répondre à une Commande. Conformément aux dispositions des articles 38 à 40 de la loi n° 78-17 du 6 janvier 1978 modifiée, l’Utilisateur dispose d'un droit d'accès, d'interrogation, de modification, de rectification et de suppression des données le concernant.

		%p
			En conséquence, chaque Utilisateur peut demander que soient rectifiées, complétées, clarifiées, mises à jour ou effacées les informations le concernant qui seraient inexactes, incomplètes, équivoques, périmées ou dont la collecte ou l'utilisation, la communication ou la conservation est interdite. L’Utilisateur reconnaît qu'il a la possibilité d'exercer ses droits et de recevoir à sa demande des informations sur le traitement de données qui le concernent en respectant la procédure suivante :
		%p.collapse - demande écrite et signée par l’Utilisateur à laquelle est jointe une photocopie d'une pièce d'identité ;

		%p.collapse - demande envoyée à DEPANNOLOGUE.FR, à l'adresse suivante : EURL DEPANNOLOGUE.FR, 118 rue de Burgault 59113 SECLIN.

		%p 
			A la fin de la passation de la Commande et à toute fin de preuve, des données concernant l’Utilisateur peuvent être conservées et archivées confidentiellement par DEPANNOLOGUE.FR ou tout tiers mandaté par DEPANNOLOGUE.FR, pour une durée fixée par DEPANNOLOGUE.FR à l’occasion des formalités de déclaration auprès de la C.N.I.L et au maximum pour la durée de prescription de droit commun des actions civiles en vertu de l'article 2224 du Code civil. L’Utilisateur accepte et autorise DEPANNOLOGUE.FR à communiquer à des tiers toute information le concernant, si cette communication est raisonnablement nécessaire pour se conformer aux lois et règlement en vigueur et ou à toute réquisition ou requête judiciaire ou administrative, pour se protéger ou protéger toute autre personne.

		%p
			La prospection commerciale par courrier électronique est autorisée dans les conditions prévues par la loi si les coordonnées du destinataire ont été recueillies dans le respect des dispositions de la loi n° 78-17 du 6 janvier 1978 modifiée. L’Utilisateur reconnaît la possibilité pour DEPANNOLOGUE.FR ou tout tiers mandaté par DEPANNOLOGUE.FR telles les sociétés Google et Criteo, d'utiliser la technique des cookies ou toute autre technique assimilée permettant de tracer sa navigation sur le Site et de collecter ainsi les données le concernant. L’Utilisateur peut s'opposer à l'enregistrement de ces cookies sur le disque dur de son ordinateur en configurant son navigateur de la manière suivante :

		%p Pour Safari :
		%p.collapse - choisir l'onglet « Safari », puis « Préférences », puis cliquer sur « Sécurité »,
		%p.collapse - cliquer sur « Afficher les cookies »,
		%p.collapse - sélectionner les cookies voulus et cliquer sur « Effacer » ou sur « Tout effacer »,
		%p.collapse - après avoir supprimé les cookies, cliquer sur « Terminé ».

		%p Pour Microsoft Internet Explorer :
		%p.collapse - choisir le menu « Outils » (ou « Tools »), puis « Options Internet » (ou « Internet Options »),
		%p.collapse - cliquer sur l'onglet « Confidentialité » (ou « Confidentiality »),
		%p.collapse - sélectionner le niveau souhaité à l'aide du curseur.

		%p Pour Google Chrome :
		%p.collapse - choisir l’onglet « Paramètres », puis « Paramètres avancées », puis cliquer sur « Paramètres de contenu »
		%p.collapse - cliquer sur « Cookies et données du site ».
		%p.collapse - sélectionner le site, puis le cookie voulu, et cliquer sur « Supprimer ».

		%p Pour Mozilla Firefox :
		%p.collapse - choisir le menu « outil »,
		%p.collapse - cliquer sur l'icône « Effacer mes traces »,
		%p.collapse - repérer le menu « cookie » et sélectionner les options souhaitées.

		%p
			L’Utilisateur dispose de la faculté de s'opposer, sans frais, à ce que les données le concernant soient utilisées à de telles fins.

	.article
		%h2 12. TRACABILITE
		%p
			DEPANNOLOGUE.FR conserve l’historique des connexions des Utilisateurs au Service dans le respect des délais réglementaires qui lui sont imposés.

	.article
		%h2 13. SITES INTERNET TIERS
		%p
			Tout clic sur un lien hypertexte peut faire quitter le Site. DEPANNOLOGUE.FR n’approuve ni ne contrôle les sites Internet tiers. Par conséquent, DEPANNOLOGUE.FR ne saurait être tenue pour responsable du contenu ou des opérations des sites Internet tiers accessibles depuis le Site. En outre, certains sites Internet tiers peuvent être soumis à des conditions générales d’utilisation et des politiques de confidentialité différentes.

		%p
			Les communications, relations commerciales, participation aux promotions ou aux publicités accessibles depuis le Site ainsi que la livraison et le paiement de produits et services et tous termes, conditions, garanties ou déclarations y afférents, lient l'Utilisateur exclusivement avec l’annonceur. A cet égard, l'Utilisateur reconnaît et accepte que DEPANNOLOGUE.FR ne saurait en aucun cas être responsable de toute perte ou dommage quels qu’ils soient, encourus lors ou consécutivement à de telles négociations, ou résultant de la présence sur le Site de tels annonceurs.

	.article
		%h2 14. SUSPENSION ET RESILIATION

		%p
			En cas de non-respect par un Utilisateur de l'une des stipulations des CGU, DEPANNOLOGUE.FR peut - à sa seule discrétion : - informer l’Utilisateur de ce manquement en lui demandant d’y remédier dans les plus brefs délais, et/ou - suspendre ou résilier la Commande effectuée par l’Utilisateur sans indemnité ni préavis, ni préjudice des actions de droit commun dont DEPANNOLOGUE.FR pourrait se prévaloir.

	.article
		%h2 15. CONFIDENTIALITE
		%p
			Les informations transmises ou recueillies par DEPANNOLOGUE.FR à l'occasion de l’utilisation du Site, en particulier par les Utilisateurs lors d’une Commande, sont considérées par nature comme confidentielles et ne font l'objet d'aucune communication extérieure, sauf stipulation contraire des présentes CGU. Cette stipulation ne fait pas obstacle aux communications réalisées par DEPANNOLOGUE.FR pour se conformer aux lois et règlements en vigueur et ou à toute réquisition ou requête judiciaire ou administrative, pour se protéger ou protéger les Utilisateurs, et toute autre personne.

	.article
		%h2 16. STIPULATIONS GENERALES

		%p
			%span.strong 16.1 Non validité partielle
			Si une ou plusieurs stipulation(s) des CGU est/sont tenue(s) pour illégale(s), nulle(s) ou inopposable(s) en tout ou partie, en application d'une loi, d'un règlement, ou à la suite d'une décision définitive d'une juridiction compétente, la/les stipulation(s) en cause sera/seront modifiée(s) dans le respect de la loi, dans un sens qui reflète autant que de possible, l’intention originelle des Parties et les autres stipulations conserveront toute leur force et leur portée.

		%p
			%span.strong 16.2 Intégralité
			Les CGU constituent l’intégralité des accords entre les Utilisateurs et DEPANNOLOGUE.FR et prévalent sur toute stipulation orale ou écrite antérieure ou contemporaine et relative au même objet.

		%p
			%span.strong 16.3 Modifications
			DEPANNOLOGUE.FR se réserve le droit d’amender les CGU à tout moment et par quelque moyen que ce soit.

		%p
			%span.strong 16.4 Notifications
			Les notifications le cas échéant seront adressées à l’Utilisateur par courriel à l’adresse indiquée lors de sa passation de Commande. Tout courriel envoyé par DEPANNOLOGUE.FR à un Utilisateur est réputé avoir été reçu par l’Utilisateur qui est ainsi réputé en avoir pleinement pris connaissance.

		%p
			%span.strong 16.5 Cession
			DEPANNOLOGUE.FR peut céder ou transférer à tout tiers, sans notification préalable, ses droits et obligations découlant des CGU.

		%p
			%span.strong 16.6 Force Majeure
			Aucune des Parties ne saurait être responsable de la non-exécution de ses obligations au titre des CGU, en cas de survenance d’un évènement de force majeure, tel que défini par les juridictions françaises.

		%p
			%span.strong 16.7 Renonciation
			Le fait pour l’une des Parties de ne pas se prévaloir de l’une quelconque des stipulations des CGU ne saurait être interprété ultérieurement comme une renonciation à la stipulation en cause. Toute renonciation n’est effective qu’en cas de modification des CGU conforme aux termes de l’article 16.3 ci-dessus.

		%p
			%span.strong 16.8 Preuves
			Les fichiers, données, messages et registres informatisés enregistrés dans les systèmes informatiques de DEPANNOLOGUE.FR seront admis comme preuve des actes et faits intervenus entre les Parties. La conservation des registres sera présumée, sauf preuve contraire, avoir eu lieu dans des conditions raisonnables de sécurité si les messages, données et autres documents sont enregistrés systématiquement sur un support fiable et durable.

	.article
		%h2 17. LOI APPLICABLE ET JURIDICTION

		%p
			Les CGU sont régies par le droit français. Les Parties tenteront de trouver une solution amiable en cas de différend relatif à l’exécution ou l’interprétation de ces CGU. Si aucune solution amiable n’est possible entre un Utilisateur et DEPANNOLOGUE.FR, tout litige ou plainte, relèvera de la compétence exclusive des Tribunaux compétents du ressort de la Cour d’Appel de DOUAI - FRANCE, y compris en cas de référé ou pluralité de défendeurs.




























