#legals.container
	%h1 Mentions Légales
	.article
		%p
			Le présent site est édité par la société DEPANNOLOGUE, Société à responsabilité limité unipersonnelle au capital social de 8000 euros, immatriculée au Registre du Commerce et des Sociétés de Lille sous le numéro 815 340 815, dont le siège social est situé 118 rue de Burgault 59113 Seclin

		%ul
			%li Directeur de publication : Olivier Walter

			%li Webmaster : Société Tymate

			%li Contact : contact@depannologue.fr

			%li Téléphone : 03 66 72 61 67

		%p
			L’hébergement du site internet accessible à l’adresse http://www.depannologue.fr (ci-après le « Site ») est géré par la société DEPANNOLOGUE.L’Utilisateur s'engage à ne transmettre sur le Site aucune information pouvant entraîner une responsabilité civile ou pénale et s'engage à ce titre à ne pas divulguer via le Site des informations illégales, contraires à l'ordre public ou diffamatoires.

	.article
		%h2 Informatique et Libertés

		%p
			L’Utilisateur est informé que conformément à l’article 32 de la loi Informatique et libertés du 6 janvier 1978 modifiée, DEPANNOLOGUE, en tant que responsable du traitement, met en œuvre un traitement de données à caractère personnel ayant pour principale finalité la gestion des inscriptions sur le Site et l’utilisation du Service.

		%p
			L’Utilisateur est informé qu’il dispose d’un droit d’accès, d’interrogation, et de rectification qui lui permet, le cas échéant, de faire rectifier, compléter, mettre à jour, verrouiller ou effacer les données personnelles le concernant qui sont inexactes, incomplètes, équivoques, périmées ou dont la collecte, l’utilisation, la communication ou la conservation est interdite.

		%p
			L’Utilisateur dispose également d’un droit d’opposition au traitement de ses données pour des motifs légitimes ainsi qu’un droit d’opposition à ce que ces données soient utilisées à des fins de prospection commerciale. L’ensemble de ces droits s’exerce auprès de DEPANNOLOGUE, par courrier postal accompagné d’une copie d’un titre d’identité comportant une signature à l’adresse suivante :

		%p
			DEPANNOLOGUE
			118 rue de burgault 59113 SECLIN
			ou par mail à l’adresse suivante : contact@depannologue.fr

		%p
			L’Utilisateur est informé que l’utilisation de ses données personnelles qu’il pourrait communiquer est réservée à DEPANNOLOGUE mais qu’elles sont susceptibles de faire l’objet d’un partage avec certains de ses partenaires et sous-traitants, dans la mesure nécessaire à l’accomplissement des Conditions Générales d’Utilisation ou pour des finalités commerciales. Ces donnéespersonnelles ne pourront être divulguées à des tiers autres que ceux qui hébergent, participent à l’édition ou au fonctionnement du Site et à l’exécution du Service.

		%p
			En outre, certaines données personnelles permettant une identification indirecte peuvent également être collectées et traitées afin de mieux gérer la connexion et la navigation des Utilisateurs sur le Site. Par conséquent, DEPANNOLOGUE ou tout tiers mandaté par DEPANNOLOGUE est susceptible d’utiliser des cookies. L'utilisation des cookies parDEPANNOLOGUE ou tout tiers mandaté par DEPANNOLOGUE est strictement restreinte et ne permet en aucun cas votre identification personnelle. Pour plus d’information sur l’utilisation et le mode de fonctionnement des cookies, veuillez-vous référer aux Conditions Générales d’Utilisation

	.article
		%h2 Propriété intellectuelle

		%p
			Le Site, son contenu et tous éléments y afférents (marques, logos, structure générale du Site, des textes, images animées ou non, photographies, son, savoir-faire, ...etc.) sont la propriété exclusive de DEPANNOLOGUE et/ou de ses concédant et sont en conséquence protégés par les législations françaises et internationales en matière de propriété intellectuelle. En particulier, DEPANNOLOGUE n'accorde aucune licence ou droit d'utilisation quelconque sur les marques dont elle est titulaire, sans son consentement préalable.

		%p
			Toute reproduction, représentation, diffusion ou rediffusion, totale ou partielle du Site et des bases de données figurant sur le Site, sur tout support que ce soit et/ou par quelque moyen que ce soit, sans l’autorisation expresse de DEPANNOLOGUE est interdite et constituerait une contrefaçon susceptible d’engager la responsabilité civile et pénale de son auteur.

		%p
			DEPANNOLOGUE se réserve le droit de modifier les présentes Mentions Légales sans préavis et sans avertissement préalable, en publiant la version modifiée sur le Site.
