<section id="services">
  <div class="row text-center">
    <div class="large-4 columns">
      <div class="card card-explanation">
        <div class="large-12 columns">
          <br>
          <i class="fa fa-car fa-3x dark-blue"></i>
          <br><br>
        </div>
        <div class="large-12 columns bigger">
          Dès la reservation en ligne effectuées nos dépanneurs vous dépannent sous 30minutes et 24h/7
        </div>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="card card-explanation">
        <div class="large-12 columns text-center">
          <br>
          <i class="fa fa-eur fa-3x dark-blue"></i>
          <br><br>
        </div>
        <div class="large-12 columns bigger">
          Chaque dépannage a un prix fixe qui le reste de jour comme de nuit. Nos serruriers se déplacent gratuitement. Vous profitez des prix les plus bas
        </div>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="card card-explanation">
        <div class="large-12 columns">
          <br>
          <i class="fa fa-hand-peace-o fa-3x dark-blue"></i>
          <br><br>
        </div>
        <div class="large-12 columns bigger">
          Nous travaillons uniquement avec des serruriers hautement qualifiés. Tous nos dépannages sont garantis 24 mois. Réservez avec confiance.
        </div>
      </div>
    </div>
  </div>
</section>
