<div class="row text-center">
  <h2>Depannologue, le dépannage en quelques clics</h2>
</div>
<br><br>
<div class="row">
  <div class="large-6 columns text-center"><%= image_tag 'water.svg', width: '200' %></div>
  <div class="large-6 columns text-center">

    <h2>1</h2>
    <span class="bigger dark-blue">Je choisis le domaine de compétence recherché et je selectionne l'intervention qui me correspond:</span><br><span class="bigger dark-blue">Serrurerie, Plomberie ou Vitrerie</span>
  </div>
</div>
<br><br>
<section class="bg-vlight-grey">
  <br>
  <div class="row">
    <div class="large-6 columns text-center">
      <h2>2</h2>
      <span class="bigger dark-blue">Je remplis mes coordonnées :</span><br><span class="bigger dark-blue">A ce niveau vous connaissez le coût de votre intervention. En renseignant votre adresse nous pourrons
      vous indiquer le nombre de dépanneur disponible.
      </span>
    </div>
    <div class="large-6 columns text-center"><%= image_tag 'map.svg', width: '200' %></div>
  </div>
  <br>
</section>

<br><br>
<div class="row">
  <div class="large-6 columns text-center"><%= image_tag 'on_the_road.svg', width: '200' %></div>
  <div class="large-6 columns text-center">

    <h2>3</h2>
    <span class="bigger dark-blue">Mon dépanneur est déjà sur la route: </span><br><span class="bigger dark-blue">Je peux suivre son arrivée en temps réel grâce à la carte mise à ma disposition</span>
  </div>
</div>

<br><br>
<section class="bg-vlight-grey">
  <br>
  <div class="row">
    <div class="large-6 columns text-center">
      <h2>4</h2>
      <span class="bigger dark-blue">Je note l'intervention:</span><br><span class="bigger dark-blue">Votre avis compte, c'est pourquoi votre note influe directement sur notre choix des dépanneurs.
      </span>
    </div>
    <div class="large-6 columns text-center"><%= image_tag 'rate.svg', width: '200' %></div>
  </div>
  <br>
</section>
