
<div class='container containerFormOk' id='workflow' >
  <div class="divSubHeader" style="height:100%">
    <div class="top-bar" id="realEstateMenu">
      <div class="top-bar-left">
        <%= image_tag('logo-blue.png', :alt => "Depannologue",:class => "menu-text") %>
      </div>
    </div>

    <div class="row column text-center" >
      <br>
        <h3 class="center shad semiBR">Votre demande à bien été envoyée à <b>Depannologue</b><br>
          Et sera traitée dans les plus brefs délais </h3>
      </br>
    </div>
    <div class="row">
      <div class="small-12 large-12 columns text-center"><%= image_tag('3GuysStandingOK.png', :alt => "Depannologue") %></div>
    </div>
    <div class="row column text-center" >
      <a class="button hollowe" style="" href=<%=service_provider_show_path %>><h3><b>Retournez sur</b> </h3><%= image_tag('logo-white.png', :alt => "Depannologue") %></a>
    </div>
  </div>

</div>
