<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text"><%= image_tag('logo-blue.png', :alt => "Depannologue") %></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <a class="large button" href="#"><h3>Rejoignez <%= image_tag('logo-white.png', :alt => "Depannologue") %></h3> Inscrivez-vous</a>
    </ul>
  </div>
</div>

<div class="callout large divSubHeader" >
  <div class="row column text-center" >
    <h3 class="center shad">Les artisans français préfèrent Depannologue </h3>
    <h3 class="center shad">pour leurs apporter des interventions qualifiées</h3>
    </br>
    <a href="#" class="button large">Rejoignez nous</a>
  </div>
</div>

<div class="sub-header ">
  <div class="swipe-tabs" data-equalizer="Buttons">
    <div class="swipe-tab" data-equalizer-watch="Buttons"><i class="fi-clipboard-notes style4"></i></br><h3>Comission transparente</h3></div>
    <div class="swipe-tab" data-equalizer-watch="Buttons"><i class="fi-prohibited style4"></i></br><h3>Aucun frais marketing</h3></div>
    <div class="swipe-tab" data-equalizer-watch="Buttons"><i class="fi-euro style4"></i></br><h3>Réalisez plus de CA</h3></div>
  </div>
</div>
<div class="main-container">
  <div class="swipe-tabs-container" >
    <div class="swipe-tab-content swipe-tab-content1">
      <div class="col-sm-12 text-center align-middle">
          <h1 class="center shad"><B>80%</B></h1>
          <h2 class="center shad">De commission sur le montant des interventions</h2>
          <h3 class="center shad">Taux progressif jusqu'a +5% selon le taux de satisfaction client et le taux d'acceptation d'interventions</h3>
      </div>
    </div>
    <div class="swipe-tab-content swipe-tab-content2"></div>
    <div class="swipe-tab-content swipe-tab-content3"></div>
  </div>
</div>

</br>

<div class="row">
  <div class="large-12 medium-12 columns">
    <div class="callout">
      <h1 class="text-center">Telechargez notre Application</h1>
      <h4 class="text-center">Android / IOS / Windows Phone</h4>
    </div>
  </div>
  <h4 class="text-center">Comment ça marche ?</h4>
  <!-- Grid Example -->
  <div class="row" data-equalizer="step-div">
    <div class="large-5 medium-5 columns step-div" >
      <div class="text-center">
        1
      </div>
      <div  data-equalizer-watch="step-div">
        <h4 class="text-center">Postulez pour rejoindre le réseau en renseignant les informations et documents demandés</h4>
      </div>
    </div>
    <div class="large-5 medium-5 columns step-div" >
      <div class="text-center">
        2
      </div>
      <div  data-equalizer-watch="step-div">
        <h4 class="text-center">Telechargez l'application sur votre smartphone et renseignez vos disponibilités</h4>
      </div>
    </div>
  </div>
  </br>
  <div class="row" data-equalizer="step-div">
    <div class="large-5 medium-5 columns step-div">
    <div class="text-center">
        3
      </div>
      <div   data-equalizer-watch="step-div">
        <h4 class="text-center">Recevez des interventions lorsque vous êtes disponible, que vous pouvez accepter ou refuser</h4>
      </div>
    </div>
    <div class="large-5 medium-5 columns step-div">
      <div class="text-center">
        4
      </div>
      <div  data-equalizer-watch="step-div">
        <h4 class="text-center">Vous recevez le total de commission chaque mois avec une facturation automatique</h4>
      </div>
    </div>
  </div>
  </br>
  <h3 class="text-center">Concentrez vous sur votre coeur de métier, on s'occupe du reste !</h3>
</div>
