%div.some{ :style => "position: absolute; left: 300px; top: 300px;" }
  %ul
    - @intervention_childs.each do |intervention|
      %li
        = link_to intervention.short_description, intervention_form_new_path(intervention_child_slug: intervention.slug)
