<div class='container' id='workflow'>
  <section id='form-localize'></section>
  <div class='row'>
    <div class='col-md-6 col-md-offset-3 col-xs-12'>
      <div class='step-head'></div>
        <h2>Veuillez selectionner la panne</h2>
        <ul>
          <%@intervention_childs.each do |intervention| %>
            <li>
              <%= link_to intervention.short_description, intervention_form_new_path(intervention_child_slug: intervention.slug) %>
            </li>
          <% end %>
        </ul>
    </div>
  </div>
</div>
