<div class="divSubHeader" >
  <div class="top-bar" id="realEstateMenu">
    <div class="top-bar-left">

      <%= image_tag('logo-blue.png', :alt => "Depannologue",:class => "menu-text") %>

    </div>

  </div>

  <div class="row column text-center" >
    <br>
      <h3 class="center shad semiBR">Les artisans français préfèrent <b>Depannologue</b><br>
        pour leurs apporter des interventions qualifiées </h3>
    </br>
      <a class="button hollowe" style="" href=<%=pro_service_provider_new_path %>><h3><b>Rejoignez</b> </h3><%= image_tag('logo-white.png', :alt => "Depannologue") %></a>
  </div>
  <div class="row">
    <div class="small-12 large-12 columns text-center"><%= image_tag('3-guys-standing.png', :alt => "Depannologue") %></div>
  </div>
</div>

<div class="sub-header ">
  <div class="swipe-tabs" data-equalizer="Buttons">
    <div class="swipe-tab" data-equalizer-watch="Buttons"><i class="fi-clipboard-notes swipe-tab-button"></i></br><h3>Comission transparente</h3></div>
    <div class="swipe-tab" data-equalizer-watch="Buttons"><i class="fi-prohibited swipe-tab-button"></i></br><h3>Aucun frais marketing</h3></div>
    <div class="swipe-tab" data-equalizer-watch="Buttons"><i class="fi-euro swipe-tab-button"></i></br><h3>Réalisez plus de CA</h3></div>
  </div>
</div>
<div class="main-container">
  <div class="swipe-tabs-container" >
    <div class="swipe-tab-content swipe-tab-content1">
      <div class="text-center center-vertically">
          <h1 class="center shad"><B>80%</B></h1>
          <h2 class="center shad">De commission sur le montant des interventions</h2></br>
          <h3 class="center shad">Taux progressif selon le taux de satisfaction client</h3>
      </div>
    </div>
    <div class="swipe-tab-content swipe-tab-content2">
      <div class="center-vertically">
          <h2 class="center shad">Avec	Depannologue,	 vous	ne	dépensez	 pas,	vous	<b>gagnez</b>.</h2>
          <br>
          <div class="row ">

            <div class="medium-10 columns medium-offset-2 container-hover framework-mascot">
              <h3 class=" shad"><t class="fi-check swipe-tab-check-icon"> <t class="swipe-tab-check-text">Pas	de	frais	d’acquisition	 client</t></h3>
              <h3 class=" shad"><t class="fi-check swipe-tab-check-icon"> <t class="swipe-tab-check-text">Aucune	 charge	de	référencement</t></h3>
              <h3 class=" shad"><t class="fi-check swipe-tab-check-icon"> <t class="swipe-tab-check-text">Rejoindre	Depannologue est	totalement	gratuit</t></h3>
              <br>
            </div>
            <h3 class="center swipe-tab-quote shad"><i>« Soyez	votre	propre	patron	sans	les	contraintes	qui	vont	avec »</i></h3>
          </div>
      </div>
    </div>
    <div class="swipe-tab-content swipe-tab-content3">
      <div class="center-vertically">
        <h2 class="center shad">Des	interventions	 <b>régulières</b> sans	charges	supplémentaires</h2>
        <br>
        <div class="row ">
          <div class="medium-10 columns medium-offset-2 container-hover framework-mascot">
            <h3 class=" shad"><t class="fi-check swipe-tab-check-icon"> <t class="swipe-tab-check-text">Taux	de	commission	 évolutif</t></h3>
            <h3 class=" shad"><t class="fi-check swipe-tab-check-icon"> <t class="swipe-tab-check-text">Gestion	administrative	et	de	facturation</t></h3>
            <h3 class=" shad"><t class="fi-check swipe-tab-check-icon"> <t class="swipe-tab-check-text">Interventions	 qualifiées	avec	une	tarification	fixe</t></h3>
            <br>
          </div>
          <h3 class="center swipe-tab-quote shad"><i>« Concentrez-vous	sur	votre	cœur	de	métier,	 on	s’occupe	du	reste »</i></h3>
        </div>
      </div>
    </div>
  </div>

<div class="dl-app" >
  <div class="large-12 medium-12 columns">
    <div >
      <br>
      <h1 class="text-center shad"><b>Telechargez notre Application</b></h1>
      <div class="text-center" data-equalizer="app-dl-button">
        <button class="large button app-dl-button" data-equalizer-watch="app-dl-button"><t class="fi-social-apple"> iOS</t></button>
        <button class="large button app-dl-button" data-equalizer-watch="app-dl-button"><t class="fi-social-android"> Android</t></button>
      </div>

    </div>
  </div>
  <br>
  <h3 class="text-center">Comment ça marche ?</h3>
  <br>
  <!-- Grid Example -->
  <div class="row align-center " data-equalizer="step-div">

    <div class="medium-5 large-5  columns card-step1" data-equalizer-watch="step-div">
      <center><div class="circle"><div class="circle-number">1</b></div></div></center>
      <h4 class="text-center">Postulez pour rejoindre le réseau en renseignant les informations et documents demandés</h4>
    </div>

    <div class="medium-5 large-5 columns card-step2" data-equalizer-watch="step-div">
      <center><div class="circle"><div class="circle-number">2</b></div></div></center>
      <h4 class="text-center">Telechargez l'application sur votre smartphone et renseignez vos disponibilités</h4>
    </div>

  </div>
  <div class="row align-center" data-equalizer="step-div">
    <div class="medium-5 large-5 columns card-step3" data-equalizer-watch="step-div">
      <center><div class="circle"><div class="circle-number">3</b></div></div></center>
      <h4 class="text-center">Recevez des interventions lorsque vous êtes disponible, que vous pouvez accepter ou refuser</h4>
    </div>

    <div class="medium-5 large-5 columns card-step4" data-equalizer-watch="step-div">
      <center><div class="circle"><div class="circle-number">4</b></div></div></center>
      <h4 class="text-center">Vous recevez le total de commission chaque mois avec une facturation automatique</h4>
    </div>
  </div>
