/* _variables.scss - Use this file to define based variables.
 *
 * Please verify that this file is correctly import into screen.scss,
 * the initializer file... (or equivalent):
 * @import "client/variables"; */

$link-color: $blue;
$primary-color: $blue;
$secondary-color: $orange;
