%p{style: "font-weight: bold;"}
  Bonjour
  = @customer.firstname.capitalize
  = @customer.lastname.capitalize

%p
  Votre réservation sur Depannologue.fr a bien été prise en compte et a été transmise à l'ensemble de nos partenaires disponibles actuellement.

%p
  Vous allez recevoir dans les 5 minutes un SMS avec les informations sur votre serrurier ainsi que le temps actualisé qu'il mettra pour venir chez vous.

%p
  Merci d'avoir fait confiance à Depannologue pour vous dépanner. 

%p
  Pour conserver la garantie de votre intervention et la sécurisation de votre paiement, merci d'accepter uniquement les paiements par CB (Via le terminal de paiement de votre dépanneur) et par chèque au nom de Depannologue.

%p
  En cas de besoin, n'hésitez pas à joindre le SAV Depannologue 24H/24 par mail contact@depannologue.fr ou par téléphone 03 66 72 61 67.
