@import "scss/foundation";
@include foundation-everything;
@import 'scss/foundation-icons/foundation-icons';
@import 'slick';
@import 'slick-theme';

@import "foundation_and_overrides";
@import "font-awesome";

@import url(https://fonts.googleapis.com/css?family=Hind:400,300,500,600,700);

#bar {
  background-color: $white;
}

#notice {
  border-bottom: 1px solid #f2f2f2;
}

#description {
  background-color: $blue;
}

#services {
  background-color: $light-gray;
}

.bg-orange {
  background-color: $orange;
}

.dark-blue {
  color: $dark-blue;
}

.white {
  color: $white;
}

.bg-vlight-grey {
  background-color: $vlight-grey;
}

h3 {
  color: $white;
}
.top-notice {
  height: 39px;
  line-height: 39px;
  font-size: 18px;
  font-weight: 600;
  height: 39px;
  line-height: 39px;
  color: $dark-gray;
}


.top-notice > a {
  color: $blue;
}

ul.menu {
  margin-top: 8px;
}
.menu  a {
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
}

section#banner {
  background-image: image-url('plomberie.jpg');
  background-size: cover;
  height: 550px;
  span {
    font-weight: 600;
    color: $dark-blue;
    font-size: 42px;
    h2 {
      // font-weight: 600;
      // text-transform: uppercase;
    }
  }
}
.banner-text {
  margin-top: 100px;
}

.banner-text a {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 17px;
}

.blue {
  color: $blue;
}

.grey {
  color: $dark-gray;
}

img.repair-logo {
  width: 100px;
  border: 3px solid $blue;
  border-radius: 53px;
}

.card-explanation {
  height: 230px;
}

.bigger {
  font-size: 1.2rem;
}

.card {
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: $blue;
  background-color: $white;
  border-radius: 2px; }
  .card .title {
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: 300; }
  .card .content {
    padding: 1.3rem;
    font-weight: 300;
    border-radius: 0 0 2px 2px; }
  .card p {
    color: $dark-gray;
    margin: 0; }
  .card .back-link {
    padding: 1.3rem;
  }
  .card .back-link a {
    color: $dark-blue;
  }
  .card .action {
    background-color: $blue;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 1.3rem; }
  .card a {
    color: $white;
    margin-right: 1.3rem;
    transition: color 0.3s ease;
    text-transform: uppercase;
    text-decoration: none; }
  .card .image {
    position: relative; }
    .card .image .title {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 1.3rem;
      color: #fff; }
    .card .image img {
      border-radius: 2px 2px 0 0; }

.style4 {
    font-size: 70px;
    text-shadow: 0 1px 3px rgba(0,0,0,0.25);
    color: #FFFFFF;
}

.button-group#prestataire {
    margin-bottom: 0;
    font-size: 0;
}

.step-div{
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
color: #0eaed0;
background-color: #fefefe;
border-radius: 2px;
}

$swipe-tab-color: #eeeeee;
$swipe-active-tab-color: #eeeeee;
$swipe-active-tab-color2: #eeeeee;
$swipe-hover-tab-color: #000000;


.slick-initialized {
  .swipe-tab-content {
    position: relative;
    min-height: 365px;
    color: white;

    @media screen and (min-width: 767px) {
      min-height: 500px;
    }
  }

  .swipe-tab-content1 {
    background: url('HandShaking.png') no-repeat center center ;
    background-size: cover;
  }
  .swipe-tab-content2 {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/coc-background.jpg') no-repeat center center ;
    background-size: cover;
  }
  .swipe-tab-content3 {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/coc-background.jpg') no-repeat center center ;
    background-size: cover;
  }

  .swipe-tab {
    line-height: 1;
    align-items: center;
    justify-content: center;
    background: #2199e8;
    border: 0;
    color: $swipe-tab-color;
    cursor: pointer;
    text-align: center;
    border-bottom: 0px solid rgba($swipe-active-tab-color, 0.5);
    transition: all 0.5s;

    &:hover {

    }

    &.active-tab {
      background: #156396;
      border-bottom: 10px solid rgba(#f5c400, 1);
      color: $swipe-active-tab-color;
    }

  }
}


.main-container {
  background: #f1f1f1;
  margin-bottom: 5px;
}


.center {
  text-align: center;
  margin: 0 auto;
}

.shad {
  text-shadow: -3px 3px 0px rgba(0, 0, 0, 0.2);
}

.swipe-tab-content h1 {
  max-width: 10em;
  font-size: 60px; /* mobile */
  @media all and (min-width: 50em) {
  font-size: 102px; /* desktop */
  }
}

.swipe-tab-content h2 {
  font-size: 38px; /* mobile */
  @media all and (min-width: 50em) {
  font-size: 50px; /* desktop */
  }
}

.divSubHeader {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/coc-background.jpg') no-repeat center center ;
  background-size: cover;
  color:white;
  $button-background:#000000;
  margin-bottom:0;
}
