<section>
  <div class="row text-center">
    <div class="card">
      <div class="large-offset-1 large-2 columns txt-center">
        <div><h2 class="round dark-blue">1</h2><small class="dark-blue"><%= profession.name %></small></div>
      </div>
      <div class="large-2 columns txt-center">
        <h2><i class="fa fa-arrow-right"></i></h2>
      </div>
      <div class="large-2 columns txt-center">
        <div class="round"><h2><strong>2</strong></h2><small>En cours</small></div>
      </div>
      <div class="large-2 columns txt-center">
        <h2><i class="fa fa-arrow-right grey"></i></h2>
      </div>
      <div class="large-2 columns txt-center end">
        <div class="round"><h2 class="grey">3</h2></div>
      </div>
    </div>
  </div>
</section>
